<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>- Voorblad -.md</string>
		</array>
		<array>
			<string>- Inhoudsopgave -.md</string>
		</array>
		<array>
			<string>- Abstract -.md</string>
		</array>
		<array>
			<string>- Inleiding -.md</string>
		</array>
		<array>
			<string>- Kader -.md</string>
		</array>
		<array>
			<string>Data.md</string>
		</array>
		<array>
			<string>Implementatie.md</string>
		</array>
		<array>
			<string>Interpretatie.md</string>
		</array>
		<array>
			<string>- Toepassing -.md</string>
		</array>
		<array>
			<string>ORBIS - The Stanford Geospatial Network Model of the Roman World.md</string>
		</array>
		<array>
			<string>DARE - Digital Atlas of the Roman Empire.md</string>
		</array>
		<array>
			<string>GoP - Geography of Post.md</string>
		</array>
		<array>
			<string>HDAT - Historical Dutch Asiatic Trade.md</string>
		</array>
		<array>
			<string>- Conclusie -.md</string>
		</array>
		<array>
			<string>- Literatuur -.md</string>
		</array>
	</array>
</dict>
</plist>
